body{
   margin: 0 !important;
   padding: 0 !important;
   display: grid;
   place-items: center;
   height: 100vh;


   background-image: url("giro.loko.png") !important;
    background-size: 50% !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-color: rgb(255, 255, 255) !important;

  
    label{
        color: white;
    }

}